.lw { font-size: 60px; }
.nickname{-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
-webkit-box-shadow: 6px 6px 10px #000000;
-moz-box-shadow: 6px 6px 10px #000000;
box-shadow: 6px 6px 10px #000000;
text-shadow: 1px 1px 3px #000000;
background-color: #DDDDDD;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #888888;
text-align: center;}